export STORAGE_SIGNED_URL_TTL="10000"
export STORAGE_UPLOAD_FILE_SIZE="5242880"
export STORAGE_BUCKET="intcad-storage-development"
export STORAGE_CREDENTIALS_ENDPOINT="http://minio:9000/"
export STORAGE_CREDENTIALS_ACCESS_KEY_ID="AKIAIOSFODNN7EXAMPLE"
export STORAGE_CREDENTIALS_SECRET_ACCESS_KEY="wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
