export STORAGE_SIGNEDURL_TTL="3600"
export STORAGE_MAX_UPLOAD_SIZE="5242880"
export STORAGE_BUCKET="fontes-storage-development"
export STORAGE_ENDPOINT="http://minio.127.0.0.1.nip.io"
export STORAGE_CREDENTIALS_ACCESS_KEY_ID="AKIAIOSFODNN7EXAMPLE"
export STORAGE_CREDENTIALS_SECRET_ACCESS_KEY="wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
